@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Noto+Sans+KR:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .button-hovering{
        @apply flex justify-center items-center bg-sopa-pure hover:bg-sopa-default transition text-white font-bold rounded-lg px-3 py-2
    }
}
*{
    box-sizing: border-box;
}
*::-webkit-scrollbar{
    display:none;
}

@media (prefers-color-scheme: dark) { 
    /*다크모드 시 스마트폰이나 맥OS에서 맨 아래화면에서 드래그 했을 때에도 검은화면이 보이게 하기 위함*/
    html{
        background-color: #1E1F21;
        height:auto;
    }
}

